BOOTLOOPS_ROOT=/absolute/path/to/bootloops
BOOTLOOPS_VENV=/absolute/path/to/scg-hcws-venv
BOOTLOOPS_REF=66b680ce742e654cfe86da4f072a69061fe182b1

CLINCH_REFERENCE_DIR=
G2KIT_TRUE_JSON=
GALOIS_CAMPAIGN_BANK=
BLADE_BIN_DIR=
BLADE_PORT_ROOT=
MSOLVE_CAP_GB=30
